
.bill-container {
    width: 90%;
    box-shadow: 0px 0px 30px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    border-radius: 17px;
    position: relative;
    margin-top: 2rem;
    background-color: white;
}

.bill-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 35px -3.5px;
}

.bill-title {
    font-weight: bold;
    margin-bottom: 1rem;
}

.bill-body {
    color: rgb(94, 93, 93);
    font-style: italic;
    margin-bottom: 1rem;
}

.button-container {
    background-color: rgb(50, 139, 255); /* Green */
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 1rem;
}

.button-container:hover {
    background-color: rgb(174, 174, 174);
    color: rgb(55, 55, 55);
}

.mail-button {
    background-color: rgb(86, 169, 86); /* Green */
    border: none;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 1rem;
}

.mail-button:hover {
    background-color: rgb(174, 174, 174);
    color: rgb(55, 55, 55);
}

.bill-contents {
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.button-list {
    display: flex;
    justify-content: space-between;
}