.rep-container {
    width: 50%;
    box-shadow: 0px 0px 30px -5px;
    transition: 0.3s;
    animation: ease-in-out;
    border-radius: 17px;
    position: relative;
    margin-top: 2rem;
    background-color: white;
}

.rep-container:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 35px -3.5px;
}

.rep-name {
    font-weight: bold;
    color: black;
    font-style: normal;
    font-size: 21px;
}

.rep-contents {
    margin: 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.rep-contents {
    display: flex;
    /* Use flexbox to arrange elements */
    align-items: flex-start;
    /* Align elements to the top */
}

.rep-photo {
    margin-right: 20px;
    /* Add margin to separate the photo from text */
}

/* Style for the text elements */
.rep-details {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    color: rgb(62, 62, 62);
    font-style: italic;
    /* Stack text elements vertically */
}

.rep-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}