* {
    box-sizing: border-box;
    font-family: Helvetica;
}

.component-container {
    background-image: url("../icons/forest3.jpeg");

    /* Full height */
    /* height: 100%; */

    /* Center and scale the image nicely */
    background-position: center;
    /* background-size: cover; */
}

.site-title {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    margin-left: 2.5rem;
    font-size: 2rem;
    text-decoration: none;
    height: 2.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    background-color: white;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}

.nav a {
    color: rgb(80, 150, 80);
    font-weight: bold;
    text-decoration: none;
}

.bill-list {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    padding-bottom: 4rem;
}

.cover {
    text-align: center;
    font-size: 3rem;
    /* margin-top: 6rem; */
    margin-bottom: 5rem;
    color: white;
    padding-top: 6rem;
}
