* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: pink;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: blue;
    text-decoration: none;
}

.site-title {
    font-size: 2rem;
    text-decoration: none;

}